*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

body{
    min-width: 50%;
    background-color: var(--light);
    transition: 0.2s linear;
}

.dark{
    background-color: var(--dark);
}

.light{
    background-color: var(--light);
}
.main{
   display: flex;
   justify-content: center;
}

.toggle{
    margin-top: 100%;
}







